In [1]:
import pandas as pd
import json

In [2]:
x=json.load(open('data/repos.json'))

In [6]:
new_dict={'repo_name':[],'scripts_num':[]}
for key,value in x.items():
    new_dict['repo_name'].append(key)
    new_dict['scripts_num'].append(value)

In [7]:
repo_info=pd.DataFrame.from_dict(new_dict)

In [8]:
repo_info

                                            repo_name  scripts_num
0                          VaderCoinProject/vadercoin          238
1                             mariusgheorghies/python         3083
2                              flynncowell/dalekbot-1           62
3        wjones30309/MachineLearningSamples-Notebooks           10
4                        HumanCellAtlas/ingest-common           69
...                                               ...          ...
2029995                       jpsenior/netscalersplit            1
2029996      reetheshnavale/Udacity-Joy-Ride-Project1            1
2029997                                   wmttom/loom            1
2029998                                V-Sekai/gd3to4            1
2029999                             Durante-C/ELEC327            1

[2030000 rows x 2 columns]

In [9]:
repo_info_more_than_10_less_than_50=repo_info[(repo_info['scripts_num']>=10) & (repo_info['scripts_num']<=50)]

In [10]:
repo_info_more_than_10_less_than_50

                                            repo_name  scripts_num
3        wjones30309/MachineLearningSamples-Notebooks           10
10                                     bglobal/origin           15
13                   sgibson91/bump-jhub-image-action           13
14                                  ace19-dev/CBNetV2           22
17                       escer/django-multivaluefield           10
...                                               ...          ...
1758654                               malcolmt/django           10
1772251                 Linamiao-1998/facenet-pytorch           11
1799505                               happybits/napfs           11
1811998                                milliams/proof           11
1817435                               KyleLan329/blog           10

[422984 rows x 2 columns]

In [54]:
repo_info_more_than_10_less_than_50.to_csv('repo_info_more_than_10_less_than_50.csv')

In [38]:
repo_info

Empty DataFrame
Columns: [repo_name, scripts_num]
Index: []